<body>
    <form class="create-form">
        <div class="form-group">
            <label for="title">Game Name:</label>
            <input type="text" id="title" name="title">
            <label for="console">Game Console:</label>
            <input type="text" id="console" name="console">
            <label for="image">image url:</label>
            <input type="text" id="image" name="image">
            <label for="gsPriceBuy">GS Price Sell: </label>
            <input type="text" id="gsPriceBuy" name="gsPriceBuy">
            <label for="gsPriceSell">GS Price Sell: </label>
            <input type="text" id="gsPriceSell" name="gsPriceSell">
            <label for="userSellPrice">userSellPrice: </label>
            <input type="text" id="userSellPrice" name="userSellPrice">
            <button type="submit">Search</button>
        </div>

    </form>
</body>