<body>
    <form class="create-form">
        <div class="form-group">
            <label for="title">Game Name:</label>
            <input type="text" id="title" name="title">
            <label for="console">Game Console:</label>
            <input type="text" id="console" name="console">
            <button type="submit">Search</button>
        </div>

    </form>
</body>