

<body>
    <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Adress</label>
        <input class="text" name="email" type="email" />
        <label for="password">Password</label>
        <input class="text" name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form>
</body>

</html>