
    {{!-- <h1 id="loginTitle">Login</h1>

    <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Adress</label>
        <input class="text" name="email" type="email" />
        <label for="password">Password</label>
        <input class="text" name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form> --}}

    <section class="login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">Login Now</h2>
		    <form id="signin" name="signin" method="post" action="signin" class="login-form">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase"></label>
    <input  name="email" type="email" class="form-control" placeholder="username/email">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase"></label>
    <input name="password" type="password" class="form-control" placeholder="password">
  </div>
  
  
    <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      <small>Remember Me</small>
    </label>
    <button type="submit" class="btn btn-login float-right">Submit</button>
  </div>
  
</form>
<div class="copy-text"> <i class="fa fa-heart"></i>  <a href="#">Register</a></div>
		</div>
		<div class="col-md-8 banner-sec">
            
		    
		</div>
	</div>
</div>
</section>


