
<body>
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Adress</label>
        <input class="text" name="email" type="email" />
        <label for="firstname">Firstname</label>
        <input class="text" name="firstname" type="text" />
        <label for="lastname">Lastname</label>
        <input class="text" name="lastname" type="text" />
        <label for="password">Password</label>
        <input class="text" name="password" type="password" />
        <label for="zipcode">Zipcode</label>
        <input class="text" name="zipcode" type="text" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>
